*{
    margin: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

/*NAVBAR*/

/* Style pour la barre de navigation */
.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  

  
  .navbar img{
    max-width: 50px; /* Ajustez la taille du logo */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
    position: relative;

  }
  
  .nav-links a {

    text-decoration: none;
    color: #95B475;
    font-size:22px;
    padding-bottom: 5px;
    font-weight:bold;
  }

  .nav-links li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #95B475;
    position: absolute;
    transition: all ease-in-out 250ms;
}


.nav-links li a:hover::after{
    width: 100%;
}


/* Style pour la bannière */
.banner {
  background-color: #95B475;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px; /* Ajustez le padding selon vos besoins */

}

.banner-title {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Espacement égal */
  width: 70%; /* Ajustez la largeur de la zone du texte */
  margin: auto; /* Centre l'ensemble */
}

.banner-title h1 {
  margin: 0;
  
  
}

.banner-title img {
  width: 200px; /* Ajustez la taille des images */
  margin: 0 20px; /* Ajustez la marge entre l'image et le texte */
}


  
.container{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 70px;
  display: flex;
}


.col{
  display: flex;
  flex-direction: column;
  
  margin: 5px;
  max-width: 800px; /* Adjust the max-width of the text container as needed */
  width: 100%;

}

.col h3{
  margin-top: 20px;
  margin-bottom: 5px;
}

.row{
  display: flex;
  margin: 5px;
}

.border {
  display: inline-block; 
  width: 100%;
  background: #b6b6b6; 
  height: 1px;
  margin-top: 5px;
}

.images {
  display: flex;
  justify-content:center;
  margin-top: 20px; /* Adjust as needed */
  width: 100%;
}

.images img{
  margin: 10px;
  width: 15%;
  border-radius: 5px;

}

.images img:hover{
  border: solid 1px;
  color: #95B475;
  
}

.image-princ{
  margin-left: auto;
  margin-right:auto ;
  width: 200%;
  max-width: 600px;
  border-radius: 5px;
}