
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
    margin: 0%;
    list-style: none;
    text-decoration: none;
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}


  .navbar img{
    max-width: 50px; /* Ajustez la taille du logo */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
    position: relative;

  }
  
  .nav-links a {
    text-decoration: none;
    color: #95B475;
    font-size:larger;
    padding-bottom: 5px;
    font-weight:bold;
  }
  .nav-links li a::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: #95B475;
    position: absolute;
    transition: all ease-in-out 250ms;
}


.nav-links li a:hover::after{
    width: 100%;
}


.welcome-display {
  display: flex;
  justify-content: center; /* Centre horizontalement le contenu */
  align-items: center; /* Centre verticalement le contenu */
  height: 100vh; /* Ajuste la hauteur selon tes besoins */
}


.entreprise-text {
    font-size: 2.5rem;
    font-family: 'Caprasimo', serif;
    color: whitesmoke;
    text-align: center; /* Centre le texte horizontalement */
    position: absolute; /* Position absolue pour le centrer dans l'image */
    top: 55%; /* Déplace le haut du texte à 50% de la hauteur de l'image */
    left: 50%; /* Déplace la gauche du texte à 50% de la largeur de l'image */
    transform: translate(-50%, -50%); /* Centre le texte avec une translation */
  }
  
  .image-banner img {
    height: 600px;
    width: 600px;
    margin: 0 30px;
  }
  
  .container-first-page{
  
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(224,250,200,1) 11%, rgba(176,205,147,1) 56%, rgba(149,180,117,1) 100%);
  
  }
  
h1 {
    text-align: center;
    font-size: 2em;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .category {
    cursor: pointer;
  }

  .category a{
    background-color: black;
  }
  
  .submenu {
    margin-left: 30%;
    display: none;
    margin-bottom: 10px;
  }
  
  .submenu a {
    color: #333;
  }


  /*CATEGORIE BOUTON DESIGN*/

 /* CATEGORIE BOUTON DESIGN */

.answers {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Aligne verticalement les éléments enfants */
}

.faq-title {
  color: #95B475;
  margin-bottom: 5%;
}

.categories-btn {
  margin-left: 1%;
  width: 30px;
}

.categories-btn button {
  position: relative;
  height: 30px;
  width: 250px;
  border-radius: 30px;
  background-color: #95B475;
  color: whitesmoke;
  margin-bottom: 130%;
}

.categories-btn button:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.faq-section {
  height: 50vh;
}

.answers-information-général {
  margin-left: 20%;
  width: 60%;
  height: 30%;
  text-align: left;
  color: #95B475;
}

.answers-information-général p {
  border-bottom: 1px solid gray;
  margin-bottom: 10%;
}

/* FIN CATEGORIE BOUTON DESIGN */


  /*FIN CATEGORIE BOUTON DESIGN*/
