
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
    margin: 0%;
    list-style: none;
    text-decoration: none;
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}


  .navbar img{
    max-width: 50px; /* Ajustez la taille du logo */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
    position: relative;

  }
  
  .nav-links a {
    text-decoration: none;
    color: #95B475;
    font-size:larger;
    padding-bottom: 5px;
    font-weight:bold;
  }
  .nav-links li a::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: #95B475;
    position: absolute;
    transition: all ease-in-out 250ms;
}


.nav-links li a:hover::after{
    width: 100%;
}


.welcome-display {
  display: flex;
  justify-content: center; /* Centre horizontalement le contenu */
  align-items: center; /* Centre verticalement le contenu */
  height: 100vh; /* Ajuste la hauteur selon tes besoins */
}


.entreprise-text {
  font-size: 2.5rem;
  font-family: 'Caprasimo', serif;
  color: whitesmoke;
  text-align: center; /* Centre le texte horizontalement */
  position: absolute; /* Position absolue pour le centrer dans l'image */
  top: 55%; /* Déplace le haut du texte à 50% de la hauteur de l'image */
  left: 50%; /* Déplace la gauche du texte à 50% de la largeur de l'image */
  transform: translate(-50%, -50%); /* Centre le texte avec une translation */
}
  
.image-banner img {
  height: 600px;
  width: 600px;
  margin: 0 30px;
}
  
.container-first-page{

  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(224,250,200,1) 11%, rgba(176,205,147,1) 56%, rgba(149,180,117,1) 100%);

}
  


 /* CATEGORIE BOUTON DESIGN */

 .container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  display: flex;
}

.categories {
  flex: 0 0 10%; /* Largeur de la colonne des catégories */
  padding-right: 20px;
  
}

.category-btn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #95B475;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.category-btn:hover {
  background-color: #95b475af;
}

.faq-content {
  flex: 1;
  padding-left: 20px;
}

.faq-item {
  margin-bottom: 20px;
}

h3 {
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* FIN CATEGORIE BOUTON DESIGN */

