@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
  margin: 0%;
  list-style: none;
  text-decoration: none;
}

body{
font-family: 'Josefin Sans', sans-serif;
}

.navbar {
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: space-between;

}

.navbar img{
  max-width: 50px; /* Ajustez la taille du logo */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
  position: relative;

}

  .nav-links a {
    text-decoration: none;
    color: #95B475;
    font-size:22px;
    padding-bottom: 5px;
    font-weight:bold;
  }
  .nav-links li a::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: #95B475;
    position: absolute;
    transition: all ease-in-out 250ms;
}


.nav-links li a:hover::after{
  width: 100%;
}



.welcome-display {
  display: flex;
  justify-content: center; /* Centre horizontalement le contenu */
  align-items: center; /* Centre verticalement le contenu */
  height: 100vh; /* Ajuste la hauteur selon tes besoins */
}


.entreprise-text {
  font-size: 2.5rem;
  font-family: 'Caprasimo', serif;
  color: whitesmoke;
  text-align: center; /* Centre le texte horizontalement */
  position: absolute; /* Position absolue pour le centrer dans l'image */
  top: 55%; /* Déplace le haut du texte à 50% de la hauteur de l'image */
  left: 50%; /* Déplace la gauche du texte à 50% de la largeur de l'image */
  transform: translate(-50%, -50%); /* Centre le texte avec une translation */
}
  
.image-banner img {
  height: 600px;
  width: 600px;
  margin: 0 30px;
}
  
.container-first-page{

  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(224,250,200,1) 11%, rgba(176,205,147,1) 56%, rgba(149,180,117,1) 100%);

}
  



 /* CATEGORIE BOUTON DESIGN */

 .container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    display: flex;
  }
  
  .faq-content {
    flex: 1;
    padding-left: 20px;
  }
  
  .faq-item {
    margin-bottom: 20px;
  }
  
  h3 {
    color: #333;
    padding-bottom: 5px;
    margin-bottom: 10px; 
    display: flex;
    justify-content: space-between; /* Aligns items horizontally, arrow will be on the right */
  }
  
  .faq-titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
  }
  
  #service-title {
    color: #333;
    padding-bottom: 5px;
    margin-bottom: 10px; 
  }
  
  .arrow::after {
    content: "\276f";
    font-size: 20px; 
    color: black;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #95B475;
    width: 30px; /* Ajustez la taille du cercle selon vos besoins */
    height: 30px; /* Ajustez la taille du cercle selon vos besoins */
}
.none{
  display: none;
}

.rotate {
  transform: rotate(90deg); /* Initial rotation angle */
}

.rotate::after {
  transform: rotate(-90deg); /* Initial rotation angle */
}
 
  
  
  
  
  
  
  
  /* FIN CATEGORIE BOUTON DESIGN */
  
  
/* DEBUT footer */


footer{
    margin-top: 10px;
  
  }
  
  footer .foot-main{
    
    background: #95B475;
    display: flex;
    justify-content: space-between;
    flex: 25%;
    flex-wrap: wrap;
    
  
  
  }
  .foot-row{
    padding: 20px 40px;
    margin: 20px;
  
  
  }
  .foot-row h4{
    color: rgb(240, 230, 230);
    margin-bottom: 20px;
    font-size: 1.6rem;
    position: relative;
    text-transform: uppercase;    
    
  }
  .foot-row h4::before{
    content: "";
    position: absolute;
    left: 5px;
    bottom: -10px;
    background-color: #586947;
    width: 50px;
    height: 2px;
  
  }
  
  .foot-row li{
    list-style: none;
    margin: 15px 0;
    font-size: 1.1rem;
  }
  .foot-row li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block; 
    transition: all 0.3s ease;
  
  }
  .foot-row li a:hover{
    color: #fff;
    transform: translateX(20px);
    transition: all 0.80s ease;
  }
  
  .social-icon ul li{
    list-style: none;
    display: inline-block;
    background: white;
    border-radius: 50%;
  
  }
  .social-icon ul li i{
    color: black;
    margin: 5px;
    display: block; 
    transition: all 0.3s ease;
    
  }
  .social-icon ul li i:hover{
    padding-left: 10px;
  }   
  
  @media(max-width: 768px){
    footer .foot-main{
        width: 100%;    
        margin-bottom: 30px;
    }
        
  }
  
  /* FIN footer */
  